{% extends "app.html" %}
{% block title %}Create{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/pages/login.css' %}" />
<link rel="stylesheet" href="{% static 'css/forms.css' %}" />
<link rel="stylesheet" href="{% static 'training/formulario.css' %}" />
<link rel="icon" href="{% static "images/IconoNegro.ico" %}"/> {% endblock %} 
{% block content %}

<div class="background"></div>
<div class="competence-container container-form m-auto">
<div class="informacion">
   <h1 class="text-center m-4">Registrar Entrenamiento</h1><span><i class="fa fa-heart"></i>
  </div>
<div class="container mt-4">
  <form action="{% url 'training.create' %}" method="POST">
  <div class="text">
    <div class="form-group">
      <label for="exampleInputDate1">Fecha </label>
      <input name="date" type="date" class="form-control" />
    </div>
    <div class="form-group">
      <label for="exampleInputTrack1">Categoria</label>
      <select class="form-control" name="category" id="exampleFormControlSelect1">
      {% for category in categories  %}
         <option value="{{category.id}}">{{category.name}}</option>
      {% endfor %}
      </select>
    </div>
    </div>
    <div class="form-group">
      <label for="exampleInputTrack1">Numero de Vueltas</label>
      <input name="turns" type="text" class="form-control" />
    </div>
    <div class="form-group">
      <label for="exampleInputCategory1">Pista</label>
      <select name="track" id="" class="form-control">
        {% for track in tracks %}  
          <option value="{{track.id}}">{{track.name}}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>
</div>
{% endblock %}
