{% extends "app.html" %}
{% block title %}Create{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/pages/login.css' %}" />
<link rel="stylesheet" href="{% static 'css/forms.css' %}" />
<link rel="stylesheet" href="{% static 'training/formulario.css' %}" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
<link rel="icon" href="{% static "images/IconoNegro.ico" %}"/> {% endblock %} 
{% block content %}

<div class="background"></div>
<div class="competence-container container-form m-auto">
<div class="informacion">
   <h1 class="text-center m-4">Registrar Entrenamiento</h1>
  </div>
<div class="container mt-4">
  <form action="{% url 'training.create' %}" method="POST">
  <div class="text">
    <div class="form-group">
      <label for="exampleInputDate1" style="color: #50290bde;">Fecha</label>
      <input name="date" type="date" class="form-control" />
    </div>
    <div class="form-group">
      <label for="exampleInputTrack1" style="color: #50290bde;">Categoria</label>
      <select class="form-control" name="category" id="exampleFormControlSelect1">
      {% for category in categories  %}
         <option value="{{category.id}}">{{category.name}}</option>
      {% endfor %}
      </select>
    </div>
    </div>
    <div class="form-group">
      <label for="exampleInputTrack1" style="color: #50290bde;">Cantidad de Vueltas</label>
      <input name="turns" type="text" class="form-control" />
    </div>
    <div class="form-group">
      <label for="exampleInputCategory1" style="color: #50290bde;">Pistas</label>
      <select name="track" id="" class="form-control">
        {% for track in tracks %}  
          <option value="{{track.id}}">{{track.name}}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-primary" style="color:#50290bde;">Save</button>
  </form>
</div>
</div>


{% endblock %}
