{% block title %}Login{% endblock %} {% block head %}
<link rel="stylesheet" href="{% static 'css/pages/login.css' %}" />
<link rel="stylesheet" href="{% static 'css/forms.css' %}" />
<link rel="stylesheet" href="{% static 'training/style.css' %}" />
<link rel="icon" href="{% static "images/IconoNegro.ico" %}" /> {% endblock %} {%
block content %}
<body class="hidden">
  
  <header>
      <nav id="nav" class="nav1">
          <div class="contenedor-nav">
              <div class="logo">
                  <img src="1.png" alt="">
              </div>
              <div class="enlaces" id="enlaces">
                  <a href="#" id="enlace-inicio" class="btn-header">Inicio</a>
                  <a href="#" id="enlace-trabajo" class="btn-header">Servicios</a>
                  <a href="#" id="enlace-servicio" class="btn-header">Propósito</a>
                  <a href="#" id="enlace-equipo" class="btn-header">Registrar Entrenamientos</a>
                 
                  
                  <a href="#" id="enlace-contacto" class="btn-header">Usuario</a>
              </div>
              <div class="icono" id="open">
                  <span>&#9776;</span>
              </div>
          </div>
      </nav>
      <div class="textos">
          <h1>Entrenamientos </h1>
          <h2>Time Sport 15</h2>
      </div>
  </header>
  <main>
    <div class="container">
      <div class="flash">
        <table class="table table-responsive table-striped table-sm table-entrenamiento">
        <h1>Hola gooaoa</h1>
          <thead>
            <tr>
              <th>Id</th>
              <th>Date</th>
              <th>Category</th>
              <th>Tracks</th>
              <th>Turns</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for row in trainings %}
              <tr>
                <td>{{row.Training.id}}</td>
                <td>{{row.Training.date}}</td>
                <td>{{row.Category.name}}</td>
                <td>{{row.Track.name}}</td>
                <td>{{row.Training.turns}}</td>
                <td><a href="{{ url_for('training.delete', id = row.Training.id) }}">Delete</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
            <a href="{% url 'training.create' %}">Crear</a>
      </div>
    </div>  
  </main>
  
  <script src="js/jquery.js"></script>
  <script src="js/main.js"></script>
  <script src="js/filtro.js"></script>


{% endblock %}