{% extends "app.html" %}
{% from 'common/table.html' import table %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}" />
<link rel="stylesheet" href="{% static 'training/style.css' %}" />
<link rel="stylesheet" href="{% static 'training/base.css' %}" />
<link rel="icon" href="{% static " images/IconoNegro.ico" %}" />
{% endblock %}

<link rel="stylesheet" href="{{ url_for('track.static', filename='styles.css')}}" />
<link rel="icon" href="{% static " images/IconoNegro.ico" %}" />
{% block content %}
{{ moduleHeader('ENTRENAMIENTOS', image = 'training-image') }}

<div class="competence-container  ">
  <div class="flash">
    <div class="row">

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-4 col-md-6 mb-4">
        <a class="card border-left-primary shadow h-100 py-2" href="{% url 'training.create' %}">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                  Crear Entrenamiento</div>
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800" style="
                      font-weight: 700 !important">
                      Crear
                    </div>
                  </div>
                  <div class="col">
                    <div class="progress progress-sm mr-2">
                      <div class="progress-bar bg-info" role="progressbar" style="width: 18%" aria-valuenow="50"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-auto">
                <i class="fas fa-add fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </a>
      </div>

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-4 col-md-6 mb-4">
        <a class="card border-left-success shadow h-100 py-2 text-decoration-none"
          href="{% url 'training.trainingsAll' %}">

          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                  Ver Entrenamientos</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800" style="
                font-weight: 700 !important">

                  Ver
                </div>
              </div>
              <div class="col">
                <div class="progress progress-sm mr-2">
                  <div class="progress-bar bg-info" role="progressbar" style="width: 37%" aria-valuenow="50"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-4 col-md-6 mb-4">
        <a class="card border-left-primary shadow h-100 py-2" href="{% url 'training.charts' %}">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                  Analizar Gráficas </div>
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                      Analiza
                    </div>
                  </div>
                  <div class="col">
                    <div class="progress progress-sm mr-2">
                      <div class="progress-bar bg-info" role="progressbar" style="width: 60%" aria-valuenow="50"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-auto">
                <i class="fas fa-add fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </a>

      </div>


      <!-- Area Chart -->
      <div class="col-xl-8 col-lg-7">
        <div class="border-bottom-primary card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Lista de entrenamientos</h6>
            <div class="dropdown no-arrow"><a href="{% url 'training.create' %}" style="color: #e4810f">Crear</a>


            </div>
          </div>
          <!-- Card Body -->
          <div class="card-body">
            {{ table(trainings) }}
          </div>
        </div>
      </div>

      <!-- Pie Chart -->
      <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
            <div class="dropdown no-arrow">
              
            </div>
          </div>
          <!-- Card Body -->
          <div class="card-body">
            <div class="chart-pie pt-4 pb-2">
              <div class="chartjs-size-monitor">
                <div class="chartjs-size-monitor-expand">
                  <div class=""></div>
                </div>

                <div class="chartjs-size-monitor-shrink">
                  <div class=""></div>
                </div>
              </div>
              <canvas id="myPieChart" width="336" height="245" class="chartjs-render-monitor"
                style="display: block; width: 336px; height: 245px;"></canvas>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

{% endblock %}