{% extends "app.html" %}
 {% block head %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}" />
<link rel="stylesheet" href="{% static 'training/style.css' %}" />
<link rel="stylesheet" href="{% static 'training/base.css' %}" />
<link rel="icon" href="{% static "images/IconoNegro.ico" %}" /> 
{% endblock %} 

<link
  rel="stylesheet"
  href="{{ url_for('track.static', filename='styles.css')}}"
/>
<link rel="icon" href="{% static "images/IconoNegro.ico" %}"/>
<style>
  table,
  th,
  td {
    border: 1px solid black;
    width: 10%;
  }
</style>
 {% block content %} {{ moduleHeader('Entrenamientos', image =
'tracks-image') }}
    <div class="competence-container  ">
      <div class="flash">
        <table class="table table-striped table-sm table-entrenamiento">
        <h1>Lista Entrenamientos</h1>
          <thead>
            <tr>
              <th>Id</th>
              <th>Date</th>
              <th>Category</th>
              <th>Tracks</th>
              <th>Turns</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for row in trainings %}
              <tr>
                <td>{{row.Training.id}}</td>
                <td>{{row.Training.date}}</td>
                <td>{{row.Category.name}}</td>
                <td>{{row.Track.name}}</td>
                <td>{{row.Training.turns}}</td>
                <td><a href="{{ url_for('training.delete', id = row.Training.id) }}">Delete</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
            <a href="{% url 'training.create' %}">Crear</a>
      </div>
    </div>  

{% endblock %}