.tracks-image {
  background: url(/competence/static/img/24.jpeg);
  background-attachment: fixed;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center calc(50% - 400px);
}
.map-container-5{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }
  .map-container-5 iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  }