{% extends "base.html" %}
{% block title %}Login{% endblock %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/pages/singUp.css' %}"/>
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
<link rel="icon" href="{% static 'images/IconoNegro.ico' %}"/>
{% endblock %}
{% block content %}

<div class="container-form">
  <div class="informacion">
   <h1 class="text-center m-4">Time Sport 15</h1><span><i class="fa fa-heart"></i>

</div>
<div class="form">
  <div class="thumbnail w-100 d-flex justify-content-center">
    <img src={% static "images/inicio.png" %}/>
  </div>


  <form class="register-form">
    <input type="text" placeholder="Name" />
     <input type="text" placeholder="Username"/>
     <input type="text" placeholder="Email-Address"/>
     <input type="password" placeholder="Password"/>
     <input type="password" placeholder="Confirm Password"/>
    <button><strong>Create</strong></button>
    <p class="message">Already registered?<a href="{% url "login" %}"><strong>Sign up</strong></a></p>
  </form>
    
</div>
{% endblock %}