body {
  background: #f6f6f6;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form-control:focus {
  color: var(--warning);
  background-color: #fff;
  border-color: var(--primary);
  box-shadow: 0 0 0 0.2rem #fda300;;
}

