.competence-image {
    background:url(/competence/static/img/se.jpg);
    background-attachment: fixed;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center calc(50% - 200px);
  }

.training-image{
  background:url(/competence/static/img/t.png);
  background-attachment: fixed;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center calc(50% - 200px);
  }
  
  .tracks-image {
  background: url(/competence/static/img/pista.jpg);
  background-attachment: fixed;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center calc(50% - 200px);
}