
 
  
  .chart-container{
      background-color: #ffffff00;
      padding: 30px;
      margin-top: -35px;
      margin-left: 300px;
      
  }

  .competence-containerr{
      margin-left: 45px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
}
  