body{
  width: 100%;
  height:330px;
  background: linear-gradient(to bottom,
  rgba(211,135,20, .6),
  rgba(204, 94, 4, 0.6),
  rgba(49, 31, 7, 0.45)
  ), url(/competence/static/img/moto.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

img{
    vertical-align: top;
}

.container{
    background-color:  #deb887d1;
    padding: 30px;
    position: fixed;
    margin-top: 25px;
    
}
