table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.table-entrenamiento tbody tr:hover {
  background-color: #ffc353 !important;
}

h1 {
  color: black;
}

.form-control:focus {
  color: var(--warning);
  background-color: #fff;
  border-color: var(--primary);
  box-shadow: 0 0 0 0.2rem #fda300;
}




.compente-container {
  background-color: #ffffffd1;
  
  margin-top: -20px;
}

a {
  color: black;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 23px;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.table-entrenamiento tbody tr:hover {
  background-color: #ffc353 !important;
}

h1 {
  color: black;
  text-align: center;
}

form-control:focus {
  color: var(--warning);
  background-color: #fff;
  border-color: var(--primary);
  box-shadow: 0 0 0 0.2rem #fda300;
}

img {
  vertical-align: top;
}

.competence-container {
  background-color: #ffffffd1;
  padding: 15px;
  margin-top: 15px;
}

a {
  color: #5a5c69;
  font-weight: 700 !important;
}
