.tracks-image {
  background: linear-gradient(
      to bottom,
      rgba(211, 135, 20, 0.6),
      rgba(204, 94, 4, 0.6),
      rgba(49, 31, 7, 0.45)
    ),
    url(/competence/static/img/t.png);
  background-attachment: fixed;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center calc(50% - 200px);
}