:root{
  --color1: rgb(219,144,.5);
  --color2: rgba(23, 180, 83, 0.877);
  --color3: rgba(11,194,211, 0.623);
  --fondo: #242220;
  --titulos: 33px;
  --margenes: 60px;
  --espacios: 10px;
  --espacios-contenido:45px;
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }


img{
  vertical-align: top;
}

h2{
  font-size: 50px;
  font-family: 'open sans';
}
/* Preloader */
.hidden{
  overflow: hidden;
}

.centrado{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: #cef;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px;
  }

  50%,
  100% {
    top: 19px;
    height: 26px;
  }
}

/* Header */

header{
  width: 100%;
  height:640px;
  background: linear-gradient(to bottom,
  rgba(211,135,20, .6),
  rgba(204, 94, 4, 0.6),
  rgba(49, 31, 7, 0.45)
  ), url(/competence/static/img/t.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}


.icono{
  display:none;
  font-size: 24px;
  padding: 23.5px 20px;
}

.textos{
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color:white;
  overflow: hidden;
  text-align: center;

}


.textos>h1{font-size:90px; font-family: 'open sans'; font-weight: bold;}

.textos>h2{font-size: 60px; font-weight: 300; font-weight: bold;}

