{% macro table(trainings, limit=None, count=None, page = None) -%}
<table class="table table-striped table-sm table-entrenamiento">
    <thead>
        <tr>

            <th>Fecha</th>
            <th>Categoria</th>
            <th>Pista</th>
            <th>Vueltas</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        {% for row in trainings %}
        <tr>

            <td>{{row.Training.date}}</td>
            <td>{{row.Category.name}}</td>
            <td>{{row.Track.name}}</td>
            <td>{{row.Training.turns}}</td>
            <td><a href="{{ url_for('training.delete', id = row.Training.id) }}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if page != None %}
    estas en la pg {{page}} y puede ir hasta {{ (count / limit) | round(method='ceil') | int }}
    {% for number in range(1, (count / limit) | round(method='ceil') | int) %}
        <li><a href="?page={{number}}&limit={{limit}}">{{ number }}</a></li>
    {% endfor %}
{% endif %}
{%- endmacro %}