:root {
    --color-dark: #f5760c;
    --color-dark-x: #7896c5;
    --color-dark-xx: #e1e6ef;
    --color-light: #100e0e;
    --color-grey: #cc7011;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 500;
    line-height: 4.5;
    color: #060606;
    text-align: left;
    background-color: #fff;
    overflow-x: hidden;
}


.form-one{
	width: 25px;
    height: 25px;
    margin-left: 1em;
    font-size:25px;
}



.bg-light {
    background-color: var(--color-light)!important;
}

.bg-darklogin {
    background-color: var(--color-dark)!important;
    border-radius: 2rem;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 50px;
    border: black 1px solid;
    height: 40em;


}


.contact-box {
    padding: 0rem;
	padding-left: 228px;
    padding-right: 228px;
    height: 500px;
}

.form {
    display: block;
    margin-top: 0em;
    margin-block-end: 1em;
}
.btn {
    font-weight: 400;
    padding: 1rem 2rem;
    border-radius: 2rem;
    
}

.btn-outline-dark {
    border: 2px solid var(--color-dark-xx);
}


.form-control {
    background-color: #efece8;
    border-radius: 1rem;
    padding: 1.5rem 1rem;
     margin-top: 20px;
}

.form-group mb-3{
	 margin-top: 10em;
    margin-block-end: 1em;
}

.register-bg {
    background-image: url(/static/images/enduro3.jpg);
    background-size: cover;
    height: 100%;
}
.login{
    background-image: url(/static/images/enduro4.jpg);
    background-size: cover;
    border-radius: 2rem;
    height: 40em;
}

.testiomonial {
    bottom: 20px
}

@media (max-width: 575.98px) {
    .p-6 {
        padding: 2rem;
    }

}
    .width-100 {
        width: 100%;
    }

@media (max-width: 1200px) { 
    .register-bg {
        min-height: 50vh;
    }
}

.no-gutters>.col, .no-gutters>[class*=col-] {
    padding-right: inherit;
    padding-left: 100;
}
.form .message {
  margin: 15px 0 0;
  color:#040404;
  font-size: 15px;
}

.form .message a {
  color:  #0c0c0c;
  text-decoration: none;
}
.btn btn-outline-dark{
	position:center;
}

button {
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: orange;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: white;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.btn-link {
    font-weight: 400;
    color: white;
    background-color: transparent;
}

.form button {
    outline: 0;
    padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #101010;
    font-size: 16px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 1rem
  }
  
  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 10px;
}

h1 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}