.register-form {
  max-width: 380px;
}
.form .thumbnail {
  max-height: 100px;
}

.login-form {
  max-width: 330px;
}

.container-form.informacion {
  margin: 20px auto;
  text-align: center;
}
/* END Form */
