.bg-main-primary {
  background-color: #fb7100e5 !important;
  background-image: linear-gradient(359deg, #ff851b 10%, #4a2f18 100%);
}

.bg-main-secondary {
  background-image: linear-gradient(359deg, #ff851b 10%, #4a2f18 100%);
  background-color: #754415 !important;
}

.bg-main-success {
  background-image: linear-gradient(179deg, #ff851b 10%, #4a2f18 100%);
  background-color: #754415 !important;
}

.bg-main-info {
  background-image: linear-gradient(90deg, #ff851b 10%, #4a2f18 100%);
  background-color: #f78b33f2 !important;
}

.bg-main-warning {
  background-image: linear-gradient(275deg, #ff851b 10%, #4a2f18 100%);
  background-color: #754415 !important;
}

.bg-main-danger {
  background-image: linear-gradient(179deg, #ff851b 10%, #4a2f18 100%);
  background-color: #fb7100e5 !important;
}

.bg-main-light {
  background-image: linear-gradient(272deg, #ff851b 10%, #4a2f18 100%);
  background-color: #fb7100e5 !important;
}

.bg-main-dark {
  background-image: linear-gradient(92deg, #ff851b 10%, #4a2f18 100%);
  background-color: #754415 !important;
}
