{% extends "base_track.html" %}
{% block title %}Create{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/pages/login.css' %}" />
<link rel="stylesheet" href="{% static 'css/forms.css' %}" />
<link rel="stylesheet" href="{% static 'track/basetra.css' %}" />
<link
  rel="stylesheet"
  href="{{ url_for('track.static', filename='styles.css')}}"
/>
<link rel="icon" href="{% static "images/IconoNegro.ico" %}"/> {% endblock %} 
{% block content %}
<div class="container mt-4">
  <div class="informacion">
    <h1 class="text-center m-4">Pistas</h1><span><i class="fa fa-heart"></i>
  </div>
  <form action="{% url 'track.createTracks' %}" method="POST"   enctype="multipart/form-data">
      <div class="form-group">
        <label></label>
        <input name="name" type="text" class="form-control" placeholder = "Nombre" />
      </div>
      <div class="form-group">
     
        <input name="municipality" type="text" class="form-control" placeholder = "Municipio" />
      </div>
      <div class="form-group">
        <input name="size" type="text" class="form-control" placeholder = "Medida"/>
      </div>
      <div class="input-group mb-3">
        <div class="custom-file">
          <input name="images" type="file" class="form-control" multiple id="track_images" >
          <label class="custom-file-label" for="track_images">
            Adjuntar imagenes
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
</div>
{% endblock %}
