{% extends "app.html" %} {% block title %}Login{% endblock %} {% block head %}
<link rel="stylesheet" href="{% static 'css/pages/login.css' %}" />
<link rel="stylesheet" href="{% static 'css/forms.css' %}" />
<link rel="stylesheet" href="{% static 'track/basetra.css' %}" />
<link rel="stylesheet" href="competence/static/baseCom.css">
<link
  rel="stylesheet"
  href="{{ url_for('track.static', filename='styles.css')}}"
/>
<link rel="icon" href="{% static "images/IconoNegro.ico" %}"/>
<style>
  table,
  th,
  td {
    border: 1px solid black;
    width: 10%;
  }
</style>
{% endblock %}
{% block content %}
{{ moduleHeader('Pistas', image =
'tracks-image') }}
<div class="container-tracks">
  <div class="container">
    <div class="text-center mt-4">
      <a class="btn btn-primary" href="{% url 'track.createTracks' %}"
        >Crear pistas</a
      >
    </div>
    <div class="row mt-4">
      {% for track in tracks %}
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="track-item m-1 shadow">
          <div
            id="carousel-{{ track.id }}"
            class="carousel slide"
            data-ride="carousel"
          >
            <div class="carousel-inner track-carrusel">
              {% for image in track.images %}
              <div class="carousel-item {{ 'active' if loop.index == 1 }}">
                <img
                  src="{{ url_for('static', filename='tracks/'+image.src) }}"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              {% endfor %}
            </div>
            <a
              class="carousel-control-prev"
              href="#carousel-{{ track.id }}"
              role="button"
              data-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </a>
            <a
              class="carousel-control-next"
              href="#carousel-{{ track.id }}"
              role="button"
              data-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <a
            href="{{ url_for('track.tracks', id = track.id ) }}"
            class="text-decoration-none"
          >
            <div class="item-text text-center">
              <h4><b>{{ track.name }}</b></h4>
              <p>{{ track.location }}</p>
              <h4>{{ track.size }}</h4>
              <p>{{ track.user_id }}</p>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
