{% extends "app.html" %} 
{% block title %}Login{% endblock %} {% block head %}
<link rel="stylesheet" href="{% static 'css/pages/login.css' %}" />
<link rel="stylesheet" href="{% static 'css/forms.css' %}" />
<link rel="stylesheet" href="{% static 'css/tracks.css' %}" />
<link rel="icon" href="{% static "images/IconoNegro.ico" %}"/> {% endblock %} {%
block content %}
&nbsp
<div class="container">
  &nbsp
  <center><H3>Pistas</H3></center>
  &nbsp
  <table align="center" border="1" style="width:auto; height:20px;" ;
   class="table table-condensed table-bordered table-hover">>
    <style>
      table, th,td{
        border:1px solid black;
        width:0%
        
      }
    </style>
    <thead>
      <tr>
        <th scope="200">Id</th>
        <th scope="200">Nombre</td>
         <th scope="200">Ubicacion</th>
         <th scope="200">Medida</th>
      </tr>
    </thead>
    <tbody>
      {% for track in tracks%}
      <tr>
        <td width="150">{{track.id }}</td>
        <td >{{track.name }}</td>
        <td  >{{track.ubiety }}</td>
        <td >{{track.size }}</td> 
      </tr>
      {% endfor %}
    </tbody>
  </table>
  &nbsp
  &nbsp
  <div class="form-group">
    <label for="exampleFormControlSelect2">PISTAS DE HARE SCRAMBLE EN CUNDINAMARCA</label>
    <select  class="form-control" id="exampleFormControlSelect2">
      <option> </option>
      <option>La Montaña-Girardot </option>
      <option> Veloarena Y Enduro La Bonita-Girardot</option>
      <option>Minas Montecristo-Cucunuba</option>
      <option>Finca Hacienda San Miguel(El Ospicio)-La Mesa </option>
      <option>La Laguna-Guasca</option>
      <option> El Reto-Tocancipá y Gachancipá </option>
      <option>La mugrosa-Villeta </option>
      <option>Alto Tierra Negra-Nemocón</option>
      <option>Territorio Chibcha-Facatativá </option>
    </select>
  </div>
</div>
{% endblock %}
