{% extends "app.html" %} 
{% block title %}Login{% endblock %} {% block head %}
<link rel="stylesheet" href="{% static 'css/pages/login.css' %}" />
<link rel="stylesheet" href="{% static 'css/forms.css' %}" />
<link rel="stylesheet" href="{% static 'css/tracks.css' %}" />
<link rel="icon" href="{% static "images/IconoNegro.ico" %}"/> {% endblock %} {%
block content %}
&nbsp
<div class="container">
  &nbsp
  <center><H3>Pistas</H3></center>
  &nbsp
  <table align="center" border="1" style="width:auto; height:20px;" ;
   class="table table-condensed table-bordered table-hover">
    <style>
      table, th,td{
        border:1px solid black;
        width:0%
        
      }
    </style>
    <thead>
      <tr>
        <th scope="200">Id</th>
        <th scope="200">Nombre</td>
         <th scope="200">Ubicacion</th>
         <th scope="200">Medida</th>
         <th scope="200">User_id</th>
      </tr>
    </thead>
    <tbody>
      {% for track in tracks%}
      <tr>
        <td width="150">{{track.id }}</td>
        <td >{{track.name }}</td>
        <td  >{{track.location }}</td>
        <td >{{track.size }}</td> 
        <td >{{track.user_id}}</td> 
      </tr>
      {% endfor %}
    </tbody>
  </table>
  &nbsp
  &nbsp
  <center><a href="{% url 'track.createTracks' %}">Hola</a></center>
</div>
{% endblock %}
