{% extends "app.html" %}
{% block title %}Charts{% endblock %} 
{% block content %}
<link rel="stylesheet" href="{{ url_for('competence.static', filename='charts.css')}}" />
<div class="competence-containerr  ">
    <div class="flash">
      <div class="row">
        <!-- Earnings (Monthly) Card Example --> 
        <div class="col-xl-3 col-md-6 mb-4">
          <a class="card border-left-primary shadow h-100 py-2" href="{% url 'competence.indexC' %}">
            <div class="align-self-md-center">
              <div class="row h-100 "style="color: #000">
                <div class=" col-auto align-items-center d-flex">
                  <i class="fa fa-backward fa-2x"></i>
                </div>
                <div class="col align-items-center d-flex h4 mb-0">
                    Volver
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
</div>
<div class="chart-container" style="position: relative; width: 600px">
<div class="informacion">
   <h1 class="text-center m-4 ">Gráfica Resultados Competencias</h1><span>
  </div>
  <canvas id="myChart"></canvas>
</div>
<script src="{% static 'lib/js/chart.min.js' %}"></script>
<script>
  var ctx = document.getElementById('myChart').getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'horizontalBar',
    responsive: true,
    data: {
      labels: JSON.parse('{{ labels | tojson }}'),
      datasets: [
        {
          data: JSON.parse('{{ data | tojson }}'),
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)',
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)',
          ],
          borderWidth: 1,
        },
      ],
    },
    options: {
      scales: {
        yAxes: [
          {
            ticks: {
              beginAtZero: true,
            },
          },
        ],
      },
    },
  });
</script>
{% endblock %} 