{% extends "app.html" %} {% block title %}Login{% endblock %} {% block head %}
<link rel="stylesheet" href="{% static 'competence/styles.css' %}" />

 {% endblock %} 
 {% block content %}

<div class="container">
 
   <h1 class="text-center m-4">Lista Competencias</h1><span><i class="fa fa-heart"></i>
 

  <div class="flash">
      <table class="table table-responsive table-striped table-sm table-entrenamiento">
    <thead>
        <tr>
            <th>ID</th>
            <th>Fecha</th>
           <th>Categoria</th>
           <th>Nombre Pista</th>
           <th>Medida Pista</th>
            <th>Duracion Competencia</th>
            <th>Cantidad de Vueltas</th>
            <th>Clasificacion</th>
            
           
            
        </tr>
    </thead>
    <tbody>
     {% for competences in competences %}
        <tr>
            <td>{{ competences.id}}</td>
            <td>{{ competences.date}}</td>
            <td>{{ competences.category}}</td>
            <td>{{ competences.name_track}}</td>
            <td>{{ competences.masure_track}}</td>
            <td>{{ competences.duration_minutes}}</td>
            <td>{{ competences.amount_turned}}</td>
            <td>{{ competences.classification}}</td>

           
          
        </tr>
    </tbody>
     {% endfor %}
</table>
  
  </div>
 
 <a href="{% url 'competence.create' %}"><strong>Agregar Competencias</strong></a>
</div>
{% endblock %}

