{% extends "app.html" %}
 {% block title %}Login{% endblock %}
  {% block head %}
<link rel="stylesheet" href="{{ url_for('competence.static', filename='competennce.css')}}" />
<link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
 {% endblock %} 
 {% block content %}


<div class="flash m-4">
    <div class="row">
      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-4 col-md-6 mb-4">
        <a class="card border-left-primary shadow h-100 py-2" href="{% url 'competence.indexC' %}">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                  Ver Competencias</div>
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                      Lista
                    </div>
                  </div>
                  <div class="col">
                    <div class="progress progress-sm mr-2">
                      <div class="progress-bar bg-info" role="progressbar" style="width: 18%" aria-valuenow="50"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-auto">
                <i class="fas fa-add fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </a>
      </div>

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-4 col-md-6 mb-4">
        <a class="card border-left-success shadow h-100 py-2 text-decoration-none"
          href="{% url 'competence.index'%}">

          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                  Competencias</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">

                  Inicio
                </div>
              </div>
              <div class="col">
                <div class="progress progress-sm mr-2">
                  <div class="progress-bar bg-info" role="progressbar" style="width: 37%" aria-valuenow="50"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
<div class="container">
     <h1 class="m-0 text-center m-2" style=" font-family: 'Lora', serif">{{ competence.Competence.name_competence }}</h1>
    <div class="card p-4">
        <div><b>Fecha:</b> {{ competence.Competence.date}}</div>
        <div><b>Categoria:</b> {{ competence.Category.name }}</div>
        <div><b>Nombre Pista:</b> {{ competence.Track.name }}</div>
        <div><b>Medida Pista:</b> {{ competence.Track.size }}</div>
        <a class="d-block"  href="{{url_for('competence.delete', id = competence.Competence.id)}}"><i class="fas fa-trash-alt"></i></a>
    </div>
    <div class="card mt-3 p-3">
        <div class="h3">Mis resultados</div>
        {% set duration = competence.UserCompetence.duration %}
        {% set turns = competence.UserCompetence.turns %}
        {% if turns and duration %}
            <div><b>Duracion Competencia:</b> {{ duration }}</div>
            <div><b>Cantidad de Vueltas:</b> {{ turns }}</td>
        {% else %}
            <a class="d-block"  href="{{url_for('competence.createResults', id = competence.UserCompetence.id)}}">Crear mis resultados</a>
        {% endif %}
    </div>
</div>

{% endblock %}