{% extends "app.html" %}
 {% block title %}Login{% endblock %}
  {% block head %}
<link rel="stylesheet" href="{{ url_for('competence.static', filename='competennce.css')}}" />
<link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
 {% endblock %} 
 {% block content %}


<div class="flash m-4">
   <div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <a class="card border-left-primary shadow h-100 py-2" href="{% url 'competence.index' %}">
        <div class="align-self-md-center">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">

              <div class="row no-gutters align-items-center">
                <div class="row h-100 " style="color: #000">
                  <div class=" col-auto align-items-center d-flex">
                    <i class="fa fa-backward fa-2x"></i>
                  </div>
                  <div class="col align-items-center d-flex h4 mb-0">
                    Volver
                  </div>
                </div>

              </div>

            </div>
            <div class="col-auto">
              <i class="fas fa-add fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
<div class="container">
     <h1 class="m-0 text-center m-2" style=" font-family: 'Lora', serif">{{ competence.Competence.name_competence }}</h1>
    <div class="card p-4">
        <div><b>Fecha:</b> {{ competence.Competence.date}}</div>
        <div><b>Categoria:</b> {{ competence.Category.name }}</div>
        <div><b>Nombre Pista:</b> {{ competence.Track.name }}</div>
        <div><b>Medida Pista:</b> {{ competence.Track.size }}</div>
        <a class="d-block"  href="{{url_for('competence.delete', id = competence.Competence.id)}}"><i class="fas fa-trash-alt"></i></a>
    </div>
    <div class="card mt-3 p-3">
        <div class="h3">Mis resultados</div>
        {% set duration = competence.UserCompetence.duration %}
        {% set turns = competence.UserCompetence.turns %}
        {% if turns and duration %}
            <div><b>Duracion Competencia:</b> {{ duration }}</div>
            <div><b>Cantidad de Vueltas:</b> {{ turns }}</td>
        {% else %}
            <a class="d-block"  href="{{url_for('competence.createResults', id = competence.UserCompetence.id)}}">Crear mis resultados</a>
        {% endif %}
    </div>
</div>

{% endblock %}