{% extends "app.html" %}
{% from 'common/table.html' import table %}
{% block head %}
<link rel="stylesheet" href="competence/static/styles.css">
<link rel="stylesheet" href="{{ url_for('static', filename='forms.css')}}" />
{% endblock %}
<link rel="stylesheet" href="{{ url_for('competence.static', filename='styles.css')}}" />
<link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
{% block content %}
<div class="competence-container  ">

  <div class="flash">
  <div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <a class="card border-left-primary shadow h-100 py-2" href="{% url 'competence.index' %}">
        <div class="align-self-md-center">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">

              <div class="row no-gutters align-items-center">
                <div class="row h-100 " style="color: #000">
                  <div class=" col-auto align-items-center d-flex">
                    <i class="fa fa-backward fa-2x"></i>
                  </div>
                  <div class="col align-items-center d-flex h4 mb-0">
                    Volver
                  </div>
                </div>

              </div>

            </div>
            <div class="col-auto">
              <i class="fas fa-add fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
<div class="background"></div>
    <div class="container compente-container">
    <div class="flash">
    <h1 class="m-4 text-center m-4" style=" font-family: 'Lora', serif">Lista Competencias</h1>
        <table class="table table-striped table-entrenamiento mt-4">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Fecha</th>
                    <th>Nombre Competencia</th>
                    <th>Categoria</th>
                    <th>Pista</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                {% for row in competences %}
                <tr>
                    <td>{{ row.Competence.id }}</td>
                    <td>{{ row.Competence.date}}</td>
                    <td>{{ row.Competence.name_competence}}</td>
                    <td>{{ row.Category.name }}</td>
                    <td>{{ row.Track.name }}</td>

                    <td>
                        <a href="{{url_for('competence.one', id = row.Competence.id)}}">Ver Resultados</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    
    </div>

    </div>
{% endblock %} 
