{% extends "base.html" %}

{% block head_app %}
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
{% endblock %}
{% block header %}

<header class="header py-3">
    <div class="contenedor">
        <h2 class="logotipo">TIME SPORT 15</h2>
        <nav>
            <a href="" class="activo">Inicio</a>
            <a href="{% url 'competence.index' %}">Competencias</a>
            <a href="{% url 'training.trainings' %}">Entrenamientos</a>
            <a href="{% url 'track.tracks' %}">Pistas</a>
            <!-- Example split danger button -->
            <div class="btn-group">
                <button
                    type="button"
                    class="btn dropdown-toggle btn-outline-light text-nowrap"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    style="
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        max-width: 130px;
                        fill: white;
                    "
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="24"
                        viewBox="0 0 24 24"
                        width="24"
                        style="margin-right: 5px"
                    >
                        <path d="M0 0h24v24H0z" fill="none"></path>
                        <path 
                            d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"
                        ></path>
                    </svg>
                    {{ current_user.name }}
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#"></a>
                    <a class="dropdown-item" href="#">{{current_user.email}}</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('authentication.logout') }}">Cerrar sección</a>
                </div>
            </div>
        </nav>
    </div>
</header>

{% endblock %}