{% extends "base.html" %} 
{% block title %}Ingreso{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/pages/login.css' %}" />
<link rel="stylesheet" href="{% static 'css/forms.css' %}" />
<link rel="stylesheet" href="{% static 'css/pages/entrenamientos.css' %}" />
<link rel="icon" href="{% static " images/IconoNegro.ico" %}" />
{% endblock %}
{%block contentWrapper %}
<div class="container flex-fill">
  <div class="flash">
    <table class="table table-responsive table-striped table-sm table-entrenamiento">

      <thead>
        <tr>
          <th>Id</th>
          <th>Date</th>
          <th>Category</th>
          <th>User</th>
          <th>Turns</th>
          <th>Tracks</th>
        </tr>
      </thead>
      <tbody>
        {% for trainings in trainings %}
        <tr>
          <td>{{trainings.id}}</td>
          <td>{{trainings.date}}</td>
          <td>{{trainings.category_id}}</td>
          <td>{{trainings.users_id}}</td>
          <td>{{trainings.tracks_id}}</td>
          <td>{{trainings.turns}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>
{% endblock %}