{% extends "app.html" %}
{% block title %}Main{% endblock %}
{% block head%}
<link rel="stylesheet" href="{% static 'css/pages/main.css' %}" />
{% endblock%}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Content Row -->
  <div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                Tu mejor</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">Rendimiento</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-chart-bar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                Todas tus</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800"> Categorias</div>
            </div>
            <div class="col-auto">
              <i class="fa fa-list fa-2x text-gray-300" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Las pistas más
              </div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">Usadas</div>
                </div>
                <div class="col">

                </div>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-route fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Row -->


  <div class="row">
    {% for chart in charts %}
    <!-- Area Chart -->
    <div class="col-xl-12">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">{{ chart["name"] }}</h6>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <div class="chartjs-size-monitor">
              <div class="chartjs-size-monitor-expand">
                <div class=""></div>
              </div>
              <div class="chartjs-size-monitor-shrink">
                <div class=""></div>
              </div>
            </div>
            <canvas id="{{ chart['id'] }}" style="display: block; width: 519px; height: 320px;" width="519" height="320"
              class="chartjs-render-monitor">
            </canvas>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    <!-- Pie Chart -->

  </div>

  <!-- Content Row -->
  <div class="row">

    <!-- Content Column -->
    <div class="col-lg-6 mb-4">

      <!-- Project Card Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Tus Categorias</h6>
        </div>
        <div class="card-body">
          {% for trendingCategory in trendingCategories %}
          {% set percentage = ((trendingCategory.count/totalCategories) * 100) | round(method='ceil') | int  %}
          <h4 class="small font-weight-bold">{{ trendingCategory.Category.name }} <span class="float-right">{{ percentage }}%</span></h4>
          <div class="progress mb-4">
            <div class="progress-bar bg-danger" role="progressbar" style="width: {{ percentage }}%" aria-valuenow="{{ percentage }}"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          {% endfor %}
          

          
            
              <div class="chartjs-size-monitor">
                <div class="chartjs-size-monitor-expand">
                  <div class=""></div>
                </div>
                <div class="chartjs-size-monitor-shrink">
                  <div class=""></div>
                </div>
              </div>
              
            <div class=" text-center small"style="">
              <span class="mr-2">
                <i class="fas fa-circle text-primary"></i> Direct
              </span>
              <span class="mr-2">
                <i class="fas fa-circle text-success"></i> Social
              </span>
              <span class="mr-2">
                <i class="fas fa-circle text-info"></i> Referral
              </span>
            </div>
         
        </div>
      </div>



    </div>
    <div class="col-lg-6">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Pistas Populares</h6>
        </div>
        <div class="card-body">
          <div class="row justify-content-center">
            {%for popularTrack in popularTracks %}
            <div class="col-lg-6 mb-4">
              <div class="card text-dark font-weight-bold text-truncate shadow"
                style="background-color: rgb(231, 122, 26, {{ 1 - (loop.index) / 10 }});">
                <div class="card-body text-truncate">
                  {{ popularTrack.Track.name }}
                  <div class="text-dark-50 small">Cantidad: {{ popularTrack.count }}</div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='lib/Chart.js/Chart.min.js')}}"></script>
{% for chart in charts %}
{{ chartjs(chart["id"],chart["labels"], chart["data"], chart["dataset"]) }}
{% endfor %}
{% endblock %}