{% extends "base.html" %} {% block title %}Login{% endblock %} {% block head %}
<link rel="stylesheet" href="{% static 'css/pages/login.css' %}" />
<link rel="stylesheet" href="{% static 'css/forms.css' %}" />
<link rel="icon" href="{% static "images/IconoNegro.ico" %}"/> {% endblock %} {%
block content %}
&nbsp
<div class="container">
  &nbsp
  <center>tracks</center>
  &nbsp
  <table class="table">
    <thead>
      <tr>
        
        <th>Id</th>
        <th>Name</th>
        <th>Ubiety</th>
        <th>Size</th>
 
      </tr>
    </thead>
    <tbody>
      {% for track in tracks%}
      <tr>
        <td>{{track.id }}</td>
        <td>{{track.name }}</td>
        <td>{{track.ubiety }}</td>
        <td>{{track.size }}</td> 
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
