{% extends "base.html" %} {% block title %}Login{% endblock %} {% block head %}
<link rel="stylesheet" href="{% static 'css/pages/login.css' %}" />
<link rel="stylesheet" href="{% static 'css/forms.css' %}" />
<link rel="icon" href="{% static "images/IconoNegro.ico" %}"/> {% endblock %} {%
block content %}
<div class="container">
  users

  <table class="table">
    <thead>
      <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Password</td>
      </tr>
    </thead>
    <tbody>
      {% for person in users %}
      <tr>
        <td>{{ person.id_user }}</td>
        <td>{{ person.name_user }}</td>
        <td>{{ person.password}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
