{% extends "base.html" %}
{% block title %}Ingreso{% endblock %}
{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
<link href="style.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/pages/formnew.css' %}">

<link rel="icon" href="{% static 'images/IconoNegro.ico' %}" />
{% endblock %}
{% block contentWrapper %}
<div class="container-form flex-fill">
  <div class="form">
    <form class="register-form" action="{% url 'authentication.signUp' %}" method="POST">
        <section class="contact-box">
            <div class="row no-gutters bg-darklogin">
                <div class="col-xl-6 col-lg-12 register-bg">
                 <div class="position-absolute testiomonial p-4">
                 </div>
                </div>
                <div class="col-xl-5 col-lg-12 d-flex">
                    <div class="container align-self-center p-6" style="
                     padding-left: 0px;
                         padding-right: 0px;"><center>
     
                         <center><h1 class="font-weight-bold mb-3">REGISTRAR CUENTA</h1></center> 
                        <center>
                            <img src={% static "images/login.png" %} width="120" height="120"></center></center>      
                         <form>
                             <div class="form-row mb-2">
                                 <div class="form-group col-md-6">
                                     <input name ="name" type="text" class="form-control" placeholder="Nombre ">
                                 </div>
                                 <div class="form-group col-md-6">
                                     <input name ="lastname" type="text" class="form-control" placeholder="Apellido">
                                 </div>
                             </div>
                             <div class="form-group mb-3">
                                 <input  name="email" type="text" class="form-control" placeholder="Correo Electronico ">
                             </div>
                             <div class="form-group mb-3">
                         <input name="dateBirth" class="form-control"  type="text"  placeholder="Fecha de Nacimiento" onclick="ocultarError();" onfocus="(this.type='date')" onblur="(this.type='text')">
                        </div>
                             <div class="form-group mb-3">
                                 <input name="password" type="password" class="form-control" placeholder="Contraseña">
                             </div>
                             <div class="form-group mb-3">
                                 <input  type="password" class="form-control" placeholder="Confirmar Contraseña">
                             </div>
                             <center>
                                {%for gender in genders %}
                                    <input type="radio" class="form-one" name="gender_id" value="{{gender.id}}" > {{gender.name}}
                                {%endfor%}
                             </center>
                            <center>
                                <button><strong>Registrame</strong></button>
                                </form>
                                <p class="message">Ya estas registrado?
                                    <a href="{% url 'authentication.login' %}">
                                                 <button type="button" class="btn btn-link">Ingresar</button></center>
                         </center>
                         </form>
                     </div>
                </div>
            </div>
        </section>
    </form>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  {% endblock %}