body {
  font-family: "Comfortaa", cursive;
  font-size: 16px;
}

header {
  width: 100%;
  height: 650px;
  background-image: url(images/UNO.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  color: black;
  text-align: center;
}

header .logo {
}

header .boton {
}

header .titulo {
  font-size: 85px;
  font-weight: bold;
}

header .subtitulo {
  font-size: 30px;
  font-weight: 300;
}

.sesgoabajo {
  position: absolute;
  bottom: 0;
  left: 0;
  border-width: 0 0 35vh 100vw;
  border-style: solid;
  border-color: transparent transparent#ffffffad transparent;
}

.btn-actions {
  margin-bottom: 50px;
}

.sesgoarriba {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  border-width: 35vh 100vw 0 0;
  border-style: solid;
  border-color: #ff851b54 transparent transparent transparent;
}

.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  padding: 52px 0;
}

.sobre-nosotros {
  text-align: center;
  font-size: 56px;
  margin-bottom: 10px;
  font-weight: 300;
  color: #ff851b;
  font-weight: bold;
}

.slogan {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 24px;
}

.parrafo {
  margin-bottom: 13px;
  font-weight: 300;
  text-align: justify;
  line-height: 24px;
  color: rgb(24, 16, 16);
}

.acerca-de .boton {
  display: inline-block;
  padding: 6px;
  width: 300px;
  font-weight: 500;
  border: 1px solid rgba(24, 16, 16, 0.7);
  color: rgb(24, 16, 16);
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 16px;
  margin-top: 24px;
}

.galeria {
  width: 100%;
  height: 500px;
  overflow: hidden;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  background-color: #ff851b;
}

.imagenes {
  width: 20%;
  height: 500px;
  overflow: hidden;
  position: relative;
}

.imagenes img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-deck .card {
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
  /* margin-right: 3; */
  margin-left: 3;
}
.card {
  background-color: #f6f6f6;
  padding: -10px;
  border-color: #ff851b;
}

.encima {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 73, 94, 0.815);
}
.card-title {
  font-size: 24px;
  color: #ff851b;
  font-weight: bold;
  text-align: center;
}
.encima h2 {
  position: relative;
  top: 45%;
  text-align: center;
  color: #fff;
}

.encima div {
  position: relative;
  display: block;
  top: 46%;
  width: 40px;
  height: 5px;
  background: black;
  margin: auto;
}

.cards {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-deck .card {
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
  margin-right: 3;
  margin-left: 3;
}

.card {
  margin: 20px 0;
  width: 30%;
  text-align: center;
  padding: 20px;
  box-shadow: 0px 0px 4px 0 rgba(52, 73, 94, 0.849);
}

.cards img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 100%;
  margin-left: 65px;
}

.sesgoabajo-unico {
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 0;
  border-width: 0 0 35vh 100vw;
  border-style: solid;
  border-color: transparent transparent #fbf9f9 transparent;
}

.titulo-patrocinadores,
.subtitulo-patrocinadores {
  color: #fff;
  text-align: center;
}

.titulo-patrocinadores {
  font-size: 56px;
  margin-top: 48px;
}

.subtitulo-patrocinadores {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 64px;
}

.clientes {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 64px;
  width: 100%;
  justify-content: space-between;
}

.cliente {
  width: 30%;
}

.cliente img {
  width: 100%;
}

/* Footer */

footer {
  width: 100%;
  height: 490px;
  background: linear-gradient(
      to bottom,
      rgba(211, 135, 20, 0.6),
      rgba(204, 94, 4, 0.6),
      rgba(49, 31, 7, 0.45)
    ),
    url(/homepage/static/images/yan.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.titulo-footer,
.subtitulo-footer {
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 56px;
  font-weight: bold;
}

form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
}

input[type="text"],
input[type="email"] {
  display: inline-block;
  width: 48%;
  padding: 13px;
  border: none;
  color: #fff;
  font-family: "open sans";
  background: #2c2c2b;
  margin-bottom: 16px;
  border-top: 5px solid rgba(37, 37, 33, 0.7);
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-top: 5px solid rgba(255, 255, 255, 0.7);
}

textarea {
  display: block;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  max-height: 200px;
  min-height: 200px;
  background: #2c2c2b;
  padding: 13px;
  border: none;
  color: #fff;
  font-family: "open sans";
  margin-bottom: 16px;
}

input[type="submit"] {
  display: inline-block;
  padding: 13px;
  border: none;
  color: #fff;
  background: #2c2c2b;
  width: 96px;
  margin-left: 440;
}

/* Responsive */

@media screen and (max-width: 900px) {
  .card {
    width: 48%;
  }
}

@media screen and (max-width: 610px) {
  header .textos {
    margin-top: 130px;
  }
  header .titulo {
    font-size: 75px;
  }
  .none {
    display: none;
  }
  .imagenes {
    flex-grow: 1;
  }
  .card {
    width: 90%;
  }
  .fondo {
    height: auto;
  }
  .especial {
    display: none;
  }
  .cliente {
    width: 90%;
    height: 200px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 380px) {
  header .textos {
    margin-top: 100px;
  }
  header .titulo {
    font-size: 65px;
  }
  header .subtitulo {
    font-size: 25px;
    margin-bottom: 32px;
  }
  .sobre-nosotros {
    font-size: 46px;
  }
  .slogan {
    font-size: 20px;
  }
  .titulo-patrocinadores {
    font-size: 46px;
  }
  .subtitulo-patrocinadores {
    font-size: 20px;
  }
}
